AzureBlog/AzureBlog.Model/Service References/TagCloudService/AzureBlog.TagCloudService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AzureBlog.TagCloudService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AzureBlog.TagCloudService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTagCloudEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagCloudEntry" nillable="true" type="tns:TagCloudEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagCloudEntry" nillable="true" type="tns:ArrayOfTagCloudEntry" />
  <xs:complexType name="TagCloudEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagCloudEntry" nillable="true" type="tns:TagCloudEntry" />
</xs:schema>